<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-codehouse-userapps" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UserApps</name>
    <js-module name="UserApps" src="www/UserApps.js">
        <clobbers target="userapps"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UserApps">
                <param name="android-package" value="ee.codehouse.userapps.UserApps"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/UserApps.java" target-dir="src/ee/codehouse/userapps/UserApps"/>
    </platform>
</plugin>